* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* a {
  text-decoration: none;
}

@font-face {
  font-family: "adineue PRO Cyr";
  src: url("../../fonts/adineuePROCyr-BoldWeb.woff");
  font-style: normal;
  font-weight: bold;
}
.container {
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin-right: auto;
  margin-left: auto;
}

body {
  background: #0A0914;
  overflow-x: hidden;
  position: relative;
}
body .body--background-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 1800px;
  z-index: -1;
  max-width: 1920px;
}

header {
  background: rgba(0, 0, 0, 0.46);
  border-bottom: 1px solid #8a8a8a;
  padding-top: 22px;
  padding-bottom: 22px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .header-navigation {
  max-width: 1620px;
  padding-left: 35px;
  padding-right: 35px;
  margin-right: auto;
  margin-left: auto;
}
header .header-navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-navigation nav ul {
  list-style: none;
}
header .header-navigation nav .header-navigation--ul--logo {
  margin-right: 120px;
}
header .header-navigation nav .header-navigation--ul--logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-navigation nav .header-navigation--ul--logo a li:last-child {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  padding-left: 9px;
  margin-top: -2px;
}
header .header-navigation nav .header-navigation--ul--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-right: 64px;
}
header .header-navigation nav .header-navigation--ul--list li:not(:last-child) {
  margin-right: 60px;
}
header .header-navigation nav .header-navigation--ul--list li a {
  font-size: 14px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #AEAEAE;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
header .header-navigation nav .header-navigation--ul--list li a:hover {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
}
header .header-navigation nav .header-navigation--ul--list li span a {
  color: #21D4FD;
}
header .header-navigation nav .header-navigation--ul--social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-right: 33px;
}
header .header-navigation nav .header-navigation--ul--social-media li:not(:last-child) {
  margin-right: 10px;
}
header .header-navigation nav .header-navigation--ul--social-media li a {
  color: #F5F5F5;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
header .header-navigation nav .header-navigation--ul--social-media li a:hover {
  color: #21D4FD;
}
header .header-navigation nav .header-navigation--ul--language-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
header .header-navigation nav .header-navigation--ul--language-selection li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #F5F5F5;
}
header .header-navigation nav .header-navigation--ul--user li {
  margin-bottom: -3px;
}
header .header-navigation nav .header-navigation--ul--user li a {
  color: white;
}
header .header-navigation nav .header-navigation--ul--hamburger {
  display: none;
}
header .header-navigation nav .header-navigation--ul--hamburger #menu__toggle {
  opacity: 0;
}
header .header-navigation nav .header-navigation--ul--hamburger #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-navigation nav .header-navigation--ul--hamburger #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
header .header-navigation nav .header-navigation--ul--hamburger #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
header .header-navigation nav .header-navigation--ul--hamburger #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 25px;
  right: 1190px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn > span,
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn > span::before,
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn > span::before {
  content: "";
  top: -8px;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__btn > span::after {
  content: "";
  top: 8px;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
header .header-navigation nav .header-navigation--ul--hamburger .menu__item:hover {
  background-color: #CFD8DC;
}

main {
  background-image: url(../../img/main-images/Showcase-Section/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .welcome-section {
  padding-top: 221px;
}
main .welcome-section .welcome-section--article {
  max-width: 451px;
}
main .welcome-section .welcome-section--article h1 {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 79px;
  line-height: 75px;
  color: #FFFFFF;
}
main .welcome-section .welcome-section--article h1 span {
  background: linear-gradient(350.71deg, #21D4FD 20.56%, #E40ECF 70.92%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
main .welcome-section .welcome-section--button {
  margin-top: 48px;
}
main .welcome-section .welcome-section--button a {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 75px;
  color: #FFFFFF;
  background: linear-gradient(262.17deg, #21D4FD -9.98%, #E40ECF 62.2%);
  border-radius: 7px;
  padding: 18px 50px;
}
main .welcome-section .welcome-section--description {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 400px;
  padding-top: 60px;
}
main .join-us {
  padding-top: 180px;
  position: relative;
}
main .join-us .join-us--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .join-us .join-us--info .join-us--image {
  position: absolute;
  left: -20px;
  top: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .join-us .join-us--info .join-us--article > p {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 586px;
}
main .join-us .join-us--info .join-us--article .join-us-article--main-article {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .join-us .join-us--info .join-us--article .join-us-article--main-article h2 {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 419px;
}
main .join-us .join-us--info .join-us--article .join-us-article--main-article iconify-icon {
  color: #21D4FD;
  padding: 45px;
  border: 2px solid rgba(33, 212, 253, 0.4);
  border-radius: 50%;
}
main .join-us .join-us--actual-drops {
  padding-top: 185px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card {
  position: relative;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card:last-child {
  margin-left: 40px;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card:last-child .join-us--actual-drops--card--info {
  right: 10px;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--background {
  position: relative;
  z-index: 1;
  -webkit-filter: blur(36px);
          filter: blur(36px);
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info {
  position: absolute;
  z-index: 2;
  color: white;
  top: 0px;
  left: 10px;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info h3 {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 38px;
  background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-top: 28px;
}
main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info p {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 20px;
  max-width: 586px;
}
main .completed-airdrops {
  padding-top: 193px;
}
main .completed-airdrops .completed-airdrops--article {
  border-top: 1px solid #4c4a5f;
  width: 100%;
}
main .completed-airdrops .completed-airdrops--article h4 {
  padding-top: 50px;
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  color: #FFFFFF;
}
main .completed-airdrops .completed-airdrops--cards {
  padding-top: 40px;
  will-change: animate;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--ul:not(:first-child) {
  padding-top: 40px;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card {
  max-width: 373px;
  border-radius: 7px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  display: none;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card .completed-airdrops--cards--card--content {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card .completed-airdrops--cards--card--content h5 {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
  padding-top: 14px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card .completed-airdrops--cards--card--content p {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 10px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  padding-bottom: 10px;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card .completed-airdrops--cards--card--content img {
  width: 373px;
  height: 241px;
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card:hover {
  background: white;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card:hover .completed-airdrops--cards--card--content h5,
main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card:hover .completed-airdrops--cards--card--content p {
  color: #0A0914;
  -webkit-transform: translate(8px, 0);
          transform: translate(8px, 0);
}
main .completed-airdrops .completed-airdrops--load-more--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}
main .completed-airdrops .completed-airdrops--load-more--button a {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 11px;
  padding: 14px 90px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
main .completed-airdrops .completed-airdrops--load-more--button a:hover {
  background: white;
  color: #0A0914;
}
main .follow-us {
  padding-top: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .follow-us .follow-us--article {
  max-width: 1200px;
}
main .follow-us .follow-us--article h6 {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 142px;
  line-height: 154px;
  background: linear-gradient(265.34deg, #21D4FD 21.26%, #E40ECF 66.55%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
main .follow-us .follow-us--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 196, 239, 0.61)), to(rgba(7, 196, 239, 0.25)));
  background: linear-gradient(180deg, rgba(7, 196, 239, 0.61) 0%, rgba(7, 196, 239, 0.25) 100%);
  border-radius: 8px;
}
main .follow-us .follow-us--form .follow-us--form--input {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  border: 1px solid #21D4FD;
  border-radius: 8px;
  margin-right: 20px;
  background: transparent;
  padding: 13px 500px 18px 33px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
main .follow-us .follow-us--form .follow-us--form--input::-webkit-input-placeholder {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
main .follow-us .follow-us--form .follow-us--form--input::-moz-placeholder {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
main .follow-us .follow-us--form .follow-us--form--input:-ms-input-placeholder {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
main .follow-us .follow-us--form .follow-us--form--input::-ms-input-placeholder {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
main .follow-us .follow-us--form .follow-us--form--input::placeholder {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
main .follow-us .follow-us--form .follow-us--form--input:focus {
  outline: none;
  border: 1px solid white;
}
main .follow-us .follow-us--form .follow-us--form--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  background: #21D4FD;
  border-radius: 8px;
  padding: 16px 50px;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
main .follow-us .follow-us--form .follow-us--form--button iconify-icon {
  padding-left: 20px;
}
main .follow-us .follow-us--form .follow-us--form--button:hover {
  color: #21D4FD;
  background: white;
}

footer {
  padding-top: 100px;
}
footer .foil-footer {
  background: #161616;
  padding-top: 40px;
}
footer .foil-footer .footer-content .footer-content--main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul {
  list-style: none;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--logo a img {
  width: 160px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app {
  padding-top: 30px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app p {
  font-size: 14px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: white;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app .footer-content--main-content--ul--download-app--buttons {
  margin-top: 10px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app .footer-content--main-content--ul--download-app--buttons a:first-child {
  margin-right: 10px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--powered-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--powered-by iconify-icon {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.837);
  text-align: center;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--powered-by p {
  font-size: 14px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #AEAEAE;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul {
  list-style: none;
  margin-right: 90px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul .footer-content--main-content--list--ul-li--main {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li {
  margin-top: 10px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li a {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li a:hover {
  color: #21D4FD;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li:nth-child(2) {
  margin-top: 30px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials {
  list-style: none;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials .footer-content--main-content--list--ul-li--main {
  font-family: "adineue PRO Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials li {
  margin-top: 10px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials li a {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials li a:hover {
  color: #21D4FD;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials .columns {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials .columns .second-column {
  margin-left: 20px;
}
footer .foil-footer .footer-content .footer-content--tags {
  padding-top: 70px;
  padding-bottom: 40px;
}
footer .foil-footer .footer-content .footer-content--tags .footer-content--tags--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .foil-footer .footer-content .footer-content--tags .footer-content--tags--row:last-child {
  padding-top: 15px;
}
footer .foil-footer .footer-content .footer-content--tags .footer-content--tags--row a {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #919191;
  background: #242424;
  border: 1px solid #919191;
  border-radius: 20px;
  padding: 5px 19px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
footer .foil-footer .footer-content .footer-content--tags .footer-content--tags--row a:hover {
  color: #21D4FD;
  border: 1px solid #21D4FD;
}
footer .footer--copyrights {
  background: #1F1F1F;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer--copyrights h6 {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  header {
    min-width: 320px;
    max-width: 390px;
  }
  header .header-navigation {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .header-navigation nav .header-navigation--ul--list,
header .header-navigation nav .header-navigation--ul--social-media,
header .header-navigation nav .header-navigation--ul--user {
    display: none;
  }
  header .header-navigation nav .header-navigation--ul--hamburger {
    display: block;
  }
  main {
    background-image: url(../../img/main-images/Showcase-Section/background-adaptive.png);
  }
  main .welcome-section {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 160px;
  }
  main .welcome-section .welcome-section--article {
    max-width: 270px;
  }
  main .welcome-section .welcome-section--article h1 {
    width: 100%;
    font-size: 49px;
    line-height: 46px;
  }
  main .welcome-section .welcome-section--button {
    margin-top: 286px;
  }
  main .welcome-section .welcome-section--button a {
    font-size: 17px;
    line-height: 75px;
    padding: 25px 90px;
  }
  main .welcome-section .welcome-section--description {
    font-size: 20px;
    line-height: 28px;
    padding-top: 30px;
  }
  main .join-us {
    padding-top: 0;
    max-width: 320px;
    padding-left: 0px;
    padding-right: 0px;
  }
  main .join-us .join-us--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .join-us .join-us--info .join-us--image {
    position: static;
  }
  main .join-us .join-us--info .join-us--image img {
    width: 400px;
  }
  main .join-us .join-us--info .join-us--article p {
    font-size: 15px;
    line-height: 21px;
  }
  main .join-us .join-us--info .join-us--article .join-us-article--main-article {
    padding-top: 18px;
  }
  main .join-us .join-us--info .join-us--article .join-us-article--main-article h2 {
    font-size: 21px;
    line-height: 25px;
    max-width: 231px;
  }
  main .join-us .join-us--info .join-us--article .join-us-article--main-article iconify-icon {
    padding: 30px;
  }
  main .join-us .join-us--actual-drops {
    padding-top: 105px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .join-us .join-us--actual-drops .join-us--actual-drops--card:last-child {
    margin-left: 0px;
    margin-top: 170px;
  }
  main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--background img {
    width: 320px;
    height: 208px;
  }
  main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info img {
    width: 320px;
    height: 208px;
  }
  main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info h3 {
    font-size: 30px;
    line-height: 38px;
    padding-top: 14px;
  }
  main .join-us .join-us--actual-drops .join-us--actual-drops--card .join-us--actual-drops--card--info p {
    font-size: 15px;
    line-height: 21px;
    padding-top: 10px;
  }
  main .completed-airdrops {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .completed-airdrops .completed-airdrops--article h4 {
    padding-top: 40px;
    font-size: 49px;
    line-height: 50px;
  }
  main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--ul:not(:first-child) {
    padding-top: 0px;
  }
  main .completed-airdrops .completed-airdrops--cards .completed-airdrops--cards--card {
    padding-top: 40px;
  }
  main .completed-airdrops .completed-airdrops--load-more--button {
    padding-top: 0;
    margin-top: 40px;
  }
  main .follow-us {
    padding-top: 94px;
    max-width: 320px;
    padding-left: 0px;
    padding-right: 0px;
  }
  main .follow-us .follow-us--article {
    max-width: 300px;
  }
  main .follow-us .follow-us--article h6 {
    font-size: 49px;
    line-height: 45px;
  }
  main .follow-us .follow-us--form {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .follow-us .follow-us--form .follow-us--form--input {
    padding: 13px 25px;
    margin-right: 0;
  }
  main .follow-us .follow-us--form .follow-us--form--button {
    padding: 16px 68px;
    margin-top: 15px;
  }
  footer .foil-footer .footer-content {
    max-width: 320px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer .foil-footer .footer-content .footer-content--main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--logo {
    display: none;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app {
    padding-top: 50px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app p {
    text-align: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--download-app .footer-content--main-content--ul--download-app--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--powered-by {
    padding-top: 10px;
    padding-left: 14px;
    padding-bottom: 40px;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--ul .footer-content--main-content--ul--powered-by p {
    text-align: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul {
    margin-right: 0;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul:nth-child(2) {
    margin-top: 30px;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li {
    text-align: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li:nth-child(2) {
    margin-top: 20px;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul li a {
    color: #E4E4E4;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials .footer-content--main-content--list--ul-li--main {
    margin-top: 30px;
    text-align: center;
  }
  footer .foil-footer .footer-content .footer-content--main-content .footer-content--main-content--list .footer-content--main-content--list--ul--socials li {
    text-align: center;
  }
  footer .foil-footer .footer-content .footer-content--tags {
    display: none;
  }
}